.smalltitle{
    font-weight: 500;
}

.content_separator{
    margin: 0 -22px 0 -22px;
    border-top: solid 1px #AFBECD;
    border-bottom: solid 1px #F3F6FA;    
}


.mainblock{
    background: rgba(255,255,255,.5);
    box-shadow: 0 0 12px rgb(0 0 0 / 25%);
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-top: 20px;
    padding-bottom: 23px;
}

.smalltitle1{
    font-size: large;
    padding-left: 35px;
    padding-top: 18px;
    justify-content: center;
    display: flex;
    font-weight: 500;
}

.div_one{
    padding-left:35px;
    top: 10px;
    position: relative;
}
.control-label{
    font-weight: 600;
    color: black;
}

.form-control{
    width: 200px !important;
}

.img1 {
    width: 35px;
    left: 293px;
    top: -53px;
    position: relative;
}

.field1{
    top: -63px;
    left: 295px;
    position: relative;
}

.out_1{
    width: 35px;
    left: 303px;
    top: -62px;
    position: relative;
    color: black;
    font-size:large;
}

.out_2{
    width: 35px;
    left: 307px;
    top: -62px;
    position: relative;
}

.form1{
    margin-top: -23px;
}

.img2{
    width: 39px;
    left: 295px;
    top: -54px;
    position: relative;
}

.field2{
    top: -63px;
    left: 297px;
    position: relative;
}

.out_3{
    width: 35px;
    left: 303px;
    top: -62px;
    position: relative;
    color: black;
    font-size:large;
}

.out_4{
    width: 35px;
    left: 307px;
    top: -62px;
    position: relative;
}

.img_3{
    width: 35px;
    left: 295px;
    top: -76px;
    position: relative;
}

.field3{
    top: -86px;
    left: 296px;
    position: relative;
}

.out_5{
    width: 35px;
    left: 303px;
    top: -84px;
    position: relative;
    color: black;
    font-size:large;
}

.out_6{
    width: 35px;
    left: 307px;
    top: -84px;
    position: relative; 
}

.img_4{
    width: 102px;
    left: 531px;
    top: -207px;
    position: relative;
}

.form2{
    margin-top: -17px;
    margin-bottom: -17px;

}
.select_style{
    top: -18px;
    position: relative;
    width:200px;
    height: 36px;
    -webkit-appearance: textfield;
    background: #f6f6f6;
    border: none;
}

.img_5{
    width: 35px;
    left: 295px;
    top: -52px;
    position: relative;
}

.field4{
    top: -64px;
    left: 296px;
    position: relative;
}

.out_7{
    width: 35px;
    left: 303px;
    top: -62px;
    position: relative;
    color: black;
    font-size:large;
}

.out_8{
    top: -64px;
    left: 303px;
    position: relative;
}

.finaly {
    top: 10px;
    position: relative;
    font-weight: 500;
    font-size: 18px;
}
.form4{
    background: rgba(255,255,255,.5);
    box-shadow: 0 0 12px rgb(0 0 0 / 25%);
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-top: 20px;
}
.form5{
    margin-left: 30px;
    margin-top: 17px;
}

.field_6{
    display: none
}

.sendtomail{
    display: none;
}

.tunecalc{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.deleteForm:hover{
    cursor: pointer;
}

.deleteForm:disabled, .deleteForm:disabled:hover:disabled {
    background-color: rgba(0,0,0,.1);
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: not-allowed;
}

.new_form{
    background: rgba(255,255,255,.5);
    box-shadow: 0 0 12px rgb(0 0 0 / 25%);
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 23px;
}

.delete_section{
    display: block;
    float: right;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-image: url(/image/close.png);
    background-position: top center;
    background-repeat: no-repeat;
}