html {
}
html,
body {
	width: 100%;
	min-height: 100%;	
}
body {
}


.form-control {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 9px 10px;
    border: 1px solid #efefef;
    background-color: #f6f6f6;
    color: #5f5f5f;
    text-align: left;
   
}
